@import "_variables";

.movie-rating{
	font-size: 0;
}
.movie-rating__wrapper{
	display: inline-block;
	font-size: 1rem;
}
.movie-rating__wrapper:after{
	content: "";
	display: table;
	clear: both;
}
.movie-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}
