@import "/../_variables";

body {
  background-color: $background-color;
  }
h1 {
  
  color: $text-color;
  font-size: $xl-paragraph-font-size
  }

.container {
  display: table;
  padding: 3%;
  max-width: 56em;
  margin: 5% auto 0;
  background-color:rgb(245, 243, 241);
  }

  .rating_star > span:hover:before{

    content: "\f006";
    position: absolute;
  }

  .rating_star{

    unicode-bidi: bidi-override;
    direction: rt1;
  }

  .rating_star > span:hover:before, 
  .rating_star > span:hover ~ span:before{
    content: "\f005";
   position: absolute;
}

