@import "/../_variables";




.star{
  color: goldenrod;
  font-size: 2.0rem;
  position: relative;
  padding: 0 1rem; /* space out the stars */
}
.star::before{
  position:absolute;
  top:0;
  left:0;
  content: '\2606';
  cursor: pointer;
}
.star:hover::before{
  /* the :hover should come first */
  content: '\2605' !important;
  color: #bada55;
}
.star.rated::before{
  /* the :hover should come first */
  content: '\2605' !important;
}