@import "/../_variables";
@import "links";

html {
  
  background-color: $background-color;
}

body {

  .page-content {

    display: flex;
    align-items: center;
    flex-direction: column;
    
  }

  .centered-content {

    display:flex;
    flex-direction:column;
    align-items: center;
   
    
  }
}

.item {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .item-img {

    display: inline-flex;
    padding: 0.5em;
    margin: 1em;
    border-radius: 2.5%;

    &.card {

      box-shadow: 0 4px 5px,rgba(0,0,0,0.25);

      .card-image {

        display:flex;
      }
    }
  }
}

.item-header {

  background-color: $background-color;
  width: 100%;
  color: $text-color;
  font-family: $paragraph-font;
  padding: 1em 1em 0 1em;

  #hero-header {

    font-family: $heading-font;
    font-size: $title-hero-font-size
  }
}

.item-meta-info {

  display: inline-flex;
  flex-direction: column;
  background-color: $background-color;
  width: 400px;
  color: $text-color;
  font-family: $paragraph-font;
  padding: 1em;
  font-size: $paragraph-font-size;

  .title-genres {

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: $sub-heading-font-size;
    color: $heading-alt-color;
  }

  .meta-info-group {

    padding: 0.5em;
    border-top: 2px solid $elements-color;
    border-left: 2px solid $elements-color;
    
    table {

      width: 100%;
    }
    
    th {

      font-family: $heading-font;
      color: $text-color;
    }

    tr {

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &.table-flex-end {
        
        justify-content: flex-end;
      }

      &.row-padding-botom {

        padding-bottom: 1em;
      }
    }

    th, td {

      padding: 0.5em;
    }

    td {

      text-align: center;
      font-family: $paragraph-italic-font;
      color: $text-color;
    }

    .facts-table {

      padding: 0.5em;
      border-top: 2px solid $elements-color;

    }

    .row-flex-start {

      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      line-height: 1.5em;
      padding-left: 0.5em;
      margin-top: 1em;
      
      h2 {

        span {

          padding-right: 1em;
          color: $menu-item-color;
          font-size: $big-paragraph-font-size;
        }

        span + span {

          padding-top: 0;
          color: $text-color;
          font-family: $heading-font;
          font-size: $sub-heading-font-size;
        }
      }
    }

    .plot-sumary {

      margin-top: 2em;

      h3 {

        margin-bottom: 2em;
        font-family: $heading-font;
        color: $text-color;
      }

      .card {

        box-shadow: 0 4px 5px,rgba(0,0,0,0.25);
        border-radius: 2.1px;
        background-color: $background-color;

        p {

          color: $text-color;
        }
      }
    }
  }
}

@media only screen and (max-width:1200px) {

  .item-header {
  
    width: 85%;
  }
  
  .item {
      
    flex-direction: column-reverse;  
    width: 85%;

    .item-img {

      padding: 0.25em 0.25em 0em;
      
      &.card {

        .card-image {
          
          display:block;
        }
      }
    }
  }

  .item-meta-info {
    
    width: 100%;
  }
}
@media only screen and (max-width:1023px) {

  body {

    main {

      margin-top: 125px;
    }
  }
}

@media only screen and (max-width:900px) {
  
  .item-header {
    
     width: 90%;
  }
  
  .item {
      
    width: 90%;
  }
}

@media only screen and (max-width:800px) {

  body {
    
    main {

      margin-top: 150px;
    }
  }

  .item-header {
    
    width: 95%;
  }
  
  .item {
      
    width: 95%;
  }
}


@media only screen and (max-width:720px) {
  
  .item {
      
    width: 75%;
  }

  .item-header {
    
    width: 75%;

  }
}

@media only screen and (max-width:620px) {
 
  .item {
      
    width: 85%;

  }

  .item-header {
    
    width: 85%;

    #hero-header {

      font-size: $main-heading-font-size;
    }
  }

  .item-meta-info {
    
    font-size: $smal-paragraph-font-size;
  
    .title-genres {
  
      font-size: $big-paragraph-font-size;
    }
  
    .meta-info-group {

      td {
        
        font-size: $paragraph-font-size;
      }
  
      .row-flex-start {
        
        h2 {
  
          span {
  
            font-size: $smal-paragraph-font-size;
          }
  
          span + span {
  
            font-size: $big-paragraph-font-size;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:520px) {
  
  .item {
      
    width: 90%;
  }

  .item-header {

    width:90%;

  }
}

@media only screen and (max-width:420px) {
  
  .item-header {

    #hero-header {

      font-size: $sub-heading-font-size;
    }
  }

  .item-meta-info {
    
    font-size: $paragraph-font-size;
  
    .title-genres {
  
      font-size: $big-paragraph-font-size;
    }
  
    .meta-info-group {

      td {
        
        font-size: $paragraph-font-size;
      }
  
      .row-flex-start {
        
        h2 {
  
          span {
  
            font-size: $paragraph-font-size;
          }
  
          span + span {
  
            font-size: $big-paragraph-font-size;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:380px) {
  
  .item-header {

    #hero-header {

      font-size: $sub-heading-font-size;
    }
  }
}

