@import '../variables';
@keyframes pulsate {
  
  0% {

    transform: scale(1);
  }

  25%  {

    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


.link, a {

  color: $links-base-color;

  &:hover, &:focus {

    color: $heading-alt-color;
    animation: 2s linear 0s infinite normal none running pulsate;

  }


  &::after {
    color: $links-base-color;
  }

}
