@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.footer {
  background-color: #333333 !important;
  height: 273px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: row;
      align-content: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.column {
  font-size: 1.5em;
  color: #F2F2F2;
}

.icon {
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-left: 6.5em;
}

/* navBarTLeftTab */

.flex-box1 {
  margin-right: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0D7070 !important;
  width: 160px;
  height: 37px;
  border-radius: 0px 0px 0px 50px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.flex-box2 {
  margin-left: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0D7070 !important;
  width: 160px;
  height: 37px;
  border-radius: 0px 0px 50px 0px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.flex-box3 {
  margin-right: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0D7070 !important;
  width: 190px;
  height: 37px;
  border-radius: 0px 0px 0px 50px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.flex-box4 {
  margin-left: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0D7070 !important;
  width: 190px;
  height: 37px;
  border-radius: 0px 0px 50px 0px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.flex-box5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0D7070 !important;
  width: 1000px;
  height: 150px;
}

