@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@font-face {
  font-family: 'oswaldbold';
  src: url("/../../../public/fonts/oswald-bold-webfont.woff2") format("woff2"), url("/../../../public/fonts/oswald-bold-webfont.woff") format("woff"), url("/../../../public/fonts/oswald-bold-webfont.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldlight';
  src: url("/../../../public/fonts/oswald-light-webfont.woff2") format("woff2"), url("/../../../public/fonts/oswald-light-webfont.woff") format("woff"), url("/../../../public/fonts/oswald-light-webfont.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldmedium';
  src: url("/../../../public/fonts/oswald-medium-webfont.woff2") format("woff2"), url("/../../../public/fonts/oswald-medium-webfont.woff") format("woff"), url("/../../../public/fonts/oswald-medium-webfont.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldregular';
  src: url("/../../../public/fonts/oswald-regular-webfont.woff2") format("woff2"), url("/../../../public/fonts/oswald-regular-webfont.woff") format("woff"), url("/../../../public/fonts/oswald-regular-webfont.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansbold';
  src: url("/../../../public/fonts/Josefin_Sans/josefinsans-bold-webfont.woff2") format("woff2"), url("/../../../public/fonts/Josefin_Sans/josefinsans-bold-webfont.woff") format("woff"), url("/../../../public/fonts/Josefin_Sans/josefinsans-bold-webfont.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansitalic';
  src: url("/../../../public/fonts/Josefin_Sans/josefinsans-italic-webfont.woff2") format("woff2"), url("/../../../public/fonts/Josefin_Sans/josefinsans-italic-webfont.woff") format("woff"), url("/../../../public/fonts/Josefin_Sans/josefinsans-italic-webfont.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sanslight';
  src: url(/fonts/josefinsans-light-webfont.woff2?8b354d9e301b9398450fe73dafab4dbf) format("woff2"), url(/fonts/josefinsans-light-webfont.woff?99b3cf89fa1d040bed863488fc0291d5) format("woff"), url(/fonts/josefinsans-light-webfont.eot?e8e9e1a67db25962ead0c26b59daa104);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansregular';
  src: url(/fonts/josefinsans-regular-webfont.woff2?e345fb54e83a3e02af6ae7e82fce652b) format("woff2"), url(/fonts/josefinsans-regular-webfont.woff?b5dfd6d802fced08185a993900cc3f43) format("woff"), url(/fonts/josefinsans-regular-webfont.eot?1df3087fee86804d87e3fa5db9536c76);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansthin';
  src: url(/fonts/josefinsans-thin-webfont.woff2?74248ca7265b4162e9076ec9b56fe1bc) format("woff2"), url(/fonts/josefinsans-thin-webfont.woff?f4cbc6f453126dcbbe50cd21c525cf24) format("woff"), url(/fonts/josefinsans-thin-webfont.eot?ed3f5718cf13f8de66cc1e6d5de868cc);
  font-weight: normal;
  font-style: normal;
}

html,
header {
  background-color: #0e0b16;
}

.navbar {
  background-color: #0e0b16;
}

.navbar-item {
  color: #4a4a4a !important;
}

#logo {
  margin: auto;
}

a#usermodal {
  display: inline-block;
  top: calc(50% - 5px);
  color: white;
  padding-top: 0.3em;
}

.navbar-brand {
  padding: 14px 15px;
  font-size: 18px;
  line-height: 22px;
  height: 50px;
  float: none;
}

.navbar-burger {
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: unset;
  color: white;
}

.navbar-start {
  position: fixed;
  display: grid;
  padding-top: 0.5em;
  font-size: 3vh;
  width: 80%;
  height: 337px;
  overflow-x: hidden;
  background-color: #4f4c4c;
  z-index: 100;
}

.nav-item {
  margin-left: 1em;
}

.navbar-item img {
  max-height: 5.75rem;
}

.panel-block {
  margin-top: 2em;
  border: none;
}

.modal-card-title {
  background-color: white;
  text-align: center;
  padding-top: 0.5em;
}

.modal-content {
  margin: auto;
  margin-top: 5em;
}

.button.is-success {
  margin-left: 1em;
}

.button.is-info {
  float: right;
  margin-right: 1em;
}

@media screen and (max-width: 1023px) {
  .modal.is-active {
    display: block;
    background-color: #0e0b16;
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    display: block;
    background-color: #0e0b16;
    padding: 0;
  }
}

