@font-face {
  font-family: 'oswaldbold';
  src: url(/fonts/oswald-bold-webfont.woff2?7dd446822f9412a3e92b219526179d10) format("woff2"), url(/fonts/oswald-bold-webfont.woff?c5b3d6dddffdb18e1a7a955f1734ac6d) format("woff"), url(/fonts/Oswald-Bold.ttf?ad9c6c18ebcfb969eb7f9a868e1c389f) format("truetype"), url(/fonts/oswald-bold-webfont.eot?ccb540b36166ad9e4fe4f151cc6a521d);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldlight';
  src: url(/fonts/oswald-light-webfont.woff2?17a6f40461c5ade7245a30e5b742cff0) format("woff2"), url(/fonts/oswald-light-webfont.woff?79f4be1eed2515bcce7f9f506e9adc34) format("woff"), url(/fonts/Oswald-Light.ttf?d10552fddd612faf2c293a091ec51866) format("truetype"), url(/fonts/oswald-light-webfont.eot?6bca26947f20fc669b8600de722501cc);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldmedium';
  src: url(/fonts/oswald-medium-webfont.woff2?9615fe1685044ec6ec4c0b2cefab2100) format("woff2"), url(/fonts/oswald-medium-webfont.woff?73cc00abd672ec0a0fab402e2e97e01a) format("woff"), url(/fonts/Oswald-Medium.ttf?3e97dbdbf4aa4665df1da7bc816d93ac) format("truetype"), url(/fonts/oswald-medium-webfont.eot?dcbdef33754a173510cad728f8731690);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldregular';
  src: url(/fonts/oswald-regular-webfont.woff2?ae74bb2507a1c3d1ae1cb72b90b7a9a1) format("woff2"), url(/fonts/oswald-regular-webfont.woff?46d6b96c2d03cf2dbc17c5dc5edfff24) format("woff"), url(/fonts/Oswald-Regular.ttf?68a85f5cf2497486387d6c9f253bde62) format("truetype"), url(/fonts/oswald-regular-webfont.eot?cf4073273010366fb0b9be1e5c616f94);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansbold';
  src: url(/fonts/josefinsans-bold-webfont.woff2?173310d5f3cecfb6d21ebeb0d38cbdc3) format("woff2"), url(/fonts/josefinsans-bold-webfont.woff?f2fcd6b04cd06c11d5a4f773b122474f) format("woff"), url(/fonts/JosefinSans-Bold.ttf?9880fc0845d0f3950e490e4f3b05c08c) format("truetype"), url(/fonts/josefinsans-bold-webfont.eot?1a4afb1cfd7b3427a1215e8581c3390b);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansitalic';
  src: url(/fonts/josefinsans-italic-webfont.woff2?665a458614c917013f22541c0686c699) format("woff2"), url(/fonts/josefinsans-italic-webfont.woff?61792139f540a123b4cfc21273ed0d62) format("woff"), url(/fonts/JosefinSans-Italic.ttf?40b679ecc2dce41059b86e1d77e5d4f0) format("truetype"), url(/fonts/josefinsans-italic-webfont.eot?32306ce3b4d0328aa3021ad52e19c880);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sanslight';
  src: url(/fonts/josefinsans-light-webfont.woff2?8b354d9e301b9398450fe73dafab4dbf) format("woff2"), url(/fonts/josefinsans-light-webfont.woff?99b3cf89fa1d040bed863488fc0291d5) format("woff"), url(/fonts/JosefinSans-Light.ttf?f0cc419ee290311a49733e728d598f8e) format("truetype"), url(/fonts/josefinsans-light-webfont.eot?e8e9e1a67db25962ead0c26b59daa104);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansregular';
  src: url(/fonts/josefinsans-regular-webfont.woff2?e345fb54e83a3e02af6ae7e82fce652b) format("woff2"), url(/fonts/josefinsans-regular-webfont.woff?b5dfd6d802fced08185a993900cc3f43) format("woff"), url(/fonts/JosefinSans-Regular.ttf?aff001b45565556d667c11fe85cada0d) format("truetype"), url(/fonts/josefinsans-regular-webfont.eot?1df3087fee86804d87e3fa5db9536c76);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansthin';
  src: url(/fonts/josefinsans-thin-webfont.woff2?74248ca7265b4162e9076ec9b56fe1bc) format("woff2"), url(/fonts/josefinsans-thin-webfont.woff?f4cbc6f453126dcbbe50cd21c525cf24) format("woff"), url(/fonts/JosefinSans-Thin.ttf?d80b25513cb321e3e812c6754b6710a9) format("truetype"), url(/fonts/josefinsans-thin-webfont.eot?ed3f5718cf13f8de66cc1e6d5de868cc);
  font-weight: normal;
  font-style: normal;
}

main .chart-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .chart-section .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  padding-top: 1em;
}

main .chart-section .flex-container img {
  padding-bottom: 0.5em;
}

main #img1 {
  content: url("https://image.tmdb.org/t/p/w154/iO9aZzrfmMvm3IqkFiQyuuUMLh2.jpg");
}

main #img2 {
  content: url("https://image.tmdb.org/t/p/w154/qmDpIHrmpJINaRKAfWQfftjCdyi.jpg");
}

main #img3 {
  content: url("https://image.tmdb.org/t/p/w154/adw6Lq9FiC9zjYEpOqfq03ituwp.jpg");
}

main #img4 {
  content: url("https://image.tmdb.org/t/p/w154/6W6zWBAay6XVBgJsOu6c2mlFZ8l.jpg");
}

main section .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

main .chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 4px solid #D2ADB5;
  padding-top: 4em;
  width: 100%;
}

main .chart .min-item {
  border-top: 3px solid #FFFFFF;
  margin: 0 2em;
}

main .chart .min-item .card {
  -webkit-box-shadow: 1px 5px 6px, rgba(0, 0, 0, 0.25);
          box-shadow: 1px 5px 6px, rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333333;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5em 0;
}

main .chart .min-item .card h4 {
  color: #FFFFFF;
  font-size: 18px;
}

main .chart .min-item .card li {
  color: #ED6909;
  font-size: 14px;
}

main .chart .min-item .card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .chart .min-item .card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5em 0;
  padding: 0.25em;
}

main .chart .min-item .card div .light {
  font-weight: 200;
}

main .chart .min-item .item-img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 1em;
  border: 3px solid #FFFFFF;
  border-radius: 4px;
}

main .chart .min-item:first-child {
  margin: 0 2em 0 0;
}

main .chart .min-item:last-child {
  margin: 0 0 0 2em;
}

article h2 {
  color: #D2ADB5;
  font-family: oswaldregular, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
}

article h3 {
  color: #E0E0E0;
  font-family: oswaldregular, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 300;
}

@media only screen and (max-width: 1050px) {
  main .chart-section {
    width: 90%;
  }

  main .chart-section .flex-container {
    width: 90%;
  }

  main .chart-section .chart {
    width: 90%;
  }

  main .chart-section .chart .min-item .card li {
    font-size: 10px;
  }
}

@media only screen and (max-width: 800px) {
  main .chart-section .chart .min-item {
    display: none;
  }

  main .chart-section .chart .min-item #img1 {
    content: url("https://image.tmdb.org/t/p/w320/iO9aZzrfmMvm3IqkFiQyuuUMLh2.jpg");
  }

  main .chart-section .chart .min-item .card h4 {
    color: #FFFFFF;
    font-size: 24px;
  }

  main .chart-section .chart .min-item .card li {
    font-size: 16px;
  }

  main .chart-section .chart .min-item:first-child {
    display: block;
    margin: 0;
  }
}

