@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Oswald');
// Body
$background-color: #333333;
// Borders
$laravel-border-color: darken($background-color, 10%);

// brands

$main-color: #033C40;


// Typography

$line-height-base: 1.6;
$text-color: #FFFFFF;
$heading-font-size: 18px;
$links-base-color: #FCA135;
$menu-item-color:#E0E0E0;
$paragraph-font-size: 14px;
$headings-font-family: Oswald, sans-serif;
$paragraph-font-family: Josefin Sans, sans-serif;
// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
$elements-color: #D2ADB5;