@import 'fonts';
// Body
$background-color: #333333;
// Borders
$laravel-border-color: darken($background-color, 10%);

// brands

$main-color: #033C40;


// Typography
$line-height-base: 1.6;
$text-color: #FFFFFF;
$title-hero-font-size: 47px;
$main-heading-font-size: 36px;
$sub-heading-font-size: 24px;
$links-base-color: #FCA135;
$menu-item-color:#E0E0E0;
$paragraph-font-size: 14px;
$heading-font: oswaldregular, sans-serif;
$paragraph-font: josefin_sansregular, sans-serif;
$paragraph-italic-font: josefin_sansitalic, sans-serif;

// Navbar
$navbar-color: $background-color;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
$elements-color: #D2ADB5;