@import "header";

main {

  display:flex;
  justify-content: center;
  margin-bottom: 200px;
  
  margin-left: auto;
  margin-right: auto;

  .form-conatiner {
    width:80%;
  }

  article {
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    .user-comment {

      padding: 1em;
      margin-bottom: 4em;

      p {
        color: $text-color;

        font-family: $heading-font;
      }
    }
    form {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .label {
          color: $text-color;
          font-family: $paragraph-font;
        }
        div.select + button {
          
            align-self: flex-start;
        
        }

      button {
        margin-top: 1em;
        align-self: flex-end
      }
    }

    section {
      .photo-form {
        margin: 1em 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width:100%;

        .input, .select {
          margin-right:0.5em;
         
        }
        .input[type="number"] {
          width:5em;
        }
        .button {
          margin-top: 0;
        }
      }
    }
    .photo-delete-form {
      margin-left: 0.5em;
      display: inline;
      width:10%
    }
  }

  article.handleusers-list {
    
    display: flex;
    justify-content: space-between;
    width:100%;

    section {

      width:100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .create-user-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 1em 0;

        .input, .select {
          margin-right: 0.5em;
        }

        .button {
          margin-top: 0;
        }
      }
      
      .table {

        width:95%;

        tr {

          td {

            vertical-align: middle;
          }
        }
      }
    }
  }

  .title-to-add-search {

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    
    section {

      display: flex;
      justify-content: center;
      flex-direction: column;

      div {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 2em;
        color: $text-color;
        font-family: $paragraph-font;

        form {

          display: flex;
          justify-content: space-around;
          flex-direction: row;
          align-items: center;

          .select {

         
            select {

              font-family: $paragraph-font;
            }

            option {

              font-family: $paragraph-font;
            }
          }

          .input {

            font-family: $paragraph-font;
            font-size: $paragraph-font-size;
          }
        }

        button {

          font-family: $paragraph-font;
          margin-left: 2em;
        }

        &.card {

          background-color: $yellow; 
          padding: 0.5em;
          box-shadow: 0.1em 0.15em 0.2em $laravel-border-color;
          

          .card {

            background-color: $text-color;
            padding: 0.25em;
            border-radius: 5%; 
            margin: 0.5em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {

  main {

    width: 100%;
    font-size: $paragraph-font-size;
  }
}


@media only screen and (max-width: 600px) {
  
  main {
    
    .title-to-add-search {

      margin: 0;

    }
  }
}

@media only screen and (max-width: 520px) {
  
  main {
    
    .title-to-add-search {

      margin: 0;

      .button {

        width: 6em;
        font-size: $paragraph-font-size;
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  
  main {

    font-size: $smal-paragraph-font-size;
    
    .title-to-add-search {

      margin: 0;

      .input {
        
        height: 1.5em;
      }

      .button {

        font-size: $smal-paragraph-font-size;
      }

      .card {
        h4 {
          font-size: 8px;
        }
        
      }
    }
  }
}



@import "footer";