@font-face {
  font-family: 'oswaldbold';
  src: url('/../../../public/fonts/oswald-bold-webfont.woff2') format('woff2'),
       url('/../../../public/fonts/oswald-bold-webfont.woff') format('woff'),
       url('/../../../public/fonts/oswald-bold-webfont.eot');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'oswaldlight';
  src: url('/../../../public/fonts/oswald-light-webfont.woff2') format('woff2'),
       url('/../../../public/fonts/oswald-light-webfont.woff') format('woff'),
       url('/../../../public/fonts/oswald-light-webfont.eot');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'oswaldmedium';
  src: url('/../../../public/fonts/oswald-medium-webfont.woff2') format('woff2'),
       url('/../../../public/fonts/oswald-medium-webfont.woff') format('woff'),
       url('/../../../public/fonts/oswald-medium-webfont.eot');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'oswaldregular';
  src: url('/../../../public/fonts/oswald-regular-webfont.woff2') format('woff2'),
       url('/../../../public/fonts/oswald-regular-webfont.woff') format('woff'),
       url('/../../../public/fonts/oswald-regular-webfont.eot');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'josefin_sansbold';
  src: url('/../../../public/fonts/Josefin_Sans/josefinsans-bold-webfont.woff2') format('woff2'),
       url('/../../../public/fonts/Josefin_Sans/josefinsans-bold-webfont.woff') format('woff'),
       url('/../../../public/fonts/Josefin_Sans/josefinsans-bold-webfont.eot');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'josefin_sansitalic';
  src: url('/../../../public/fonts/Josefin_Sans/josefinsans-italic-webfont.woff2') format('woff2'),
       url('/../../../public/fonts/Josefin_Sans/josefinsans-italic-webfont.woff') format('woff'),
       url('/../../../public/fonts/Josefin_Sans/josefinsans-italic-webfont.eot');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'josefin_sanslight';
  src: url('../../../public/fonts/Josefin_Sans/josefinsans-light-webfont.woff2') format('woff2'),
       url('../../../public/fonts/Josefin_Sans/josefinsans-light-webfont.woff') format('woff'),
       url('../../../public/fonts/Josefin_Sans/josefinsans-light-webfont.eot');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'josefin_sansregular';
  src: url('../../../public/fonts/Josefin_Sans/josefinsans-regular-webfont.woff2') format('woff2'),
       url('../../../public/fonts/Josefin_Sans/josefinsans-regular-webfont.woff') format('woff'),
       url('../../../public/fonts/Josefin_Sans/josefinsans-regular-webfont.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansthin';
  src: url('../../../public/fonts/Josefin_Sans/josefinsans-thin-webfont.woff2') format('woff2'),
       url('../../../public/fonts/Josefin_Sans/josefinsans-thin-webfont.woff') format('woff'),
       url('../../../public/fonts/Josefin_Sans/josefinsans-thin-webfont.eot');
  font-weight: normal;
  font-style: normal;

}