@font-face {
  font-family: 'oswaldregular';
  src: url('./../../../public/fonts/Oswald/oswald-regular-webfont.woff2') format('woff2'),
       url('./../../../public/fonts/Oswald/oswald-regular-webfont.woff') format('woff'),
       url('./../../../public/fonts/Oswald/Oswald-Regular.ttf') format('truetype'),
       url('./../../../public/fonts/Oswald/oswald-regular-webfont.eot');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'josefin_sansitalic';
  src: url('./../../../public/fonts/Josefin_Sans/josefinsans-italic-webfont.woff2') format('woff2'),
       url('./../../../public/fonts/Josefin_Sans/josefinsans-italic-webfont.woff') format('woff'),
       url('./../../../public/fonts/Josefin_Sans/JosefinSans-Italic.ttf') format('truetype'),
       url('./../../../public/fonts/Josefin_Sans/josefinsans-italic-webfont.eot');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'josefin_sansregular';
  src: url('./../../../public/fonts/Josefin_Sans/josefinsans-regular-webfont.woff2') format('woff2'),
       url('./../../../public/fonts/Josefin_Sans/josefinsans-regular-webfont.woff') format('woff'),
       url('./../../../public/fonts/Josefin_Sans/JosefinSans-Regular.ttf') format('truetype'),
       url('./../../../public/fonts/Josefin_Sans/josefinsans-regular-webfont.eot');
  font-weight: normal;
  font-style: normal;
}