@import "_variables";

.item-meta-info {

  background-color: $background-color;
  width: 500px;
  color: $menu-item-color;
  font-family: $paragraph-font;
  padding: 1em;
  #hero-header {
    color: $text-color;
    font-family: $heading-font;
    font-size: $title-hero-font-size
  }

  .title-genres {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: $sub-heading-font-size;
    color: $heading-alt-color;

  }

  .meta-info-group {
    padding: 0.5em;
    border-top: 2px solid $elements-color;
    border-left: 2px solid $elements-color;

    a {
      color: $links-base-color;
    }
    
    th {
      color: $text-color;
      font-family: $heading-font;
    }

    th, td {
      padding: 0.5em;
      text-align: center;
    }
    .facts-table {
      border-top: 2px solid $elements-color;
    }
   


  }
}