
main{
    background-color: #333333;
    color: white;
}

main .breadcrumb a {
   color: #EB5757;

   &:hover {
    color: grey;
    text-decoration: underline;
 }
}
main h2 {
  color: rgb(58, 106, 138);

}

.notification {
    background-color: #333333 !important;
}

article {
    display: flex;
    align-content: center;
}
.column {
    display: inline-flex;
    border-bottom: 4px solid #D2ADB5;
}
article h3 {
    color: #D2ADB5;
    font-family: Fjalla One;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 34.7046px;
    text-transform: uppercase;
}

article h4 {
   color: #F2F2F2;
   font-family: Fjalla One;
   font-style: normal;
   font-weight: normal;
   line-height: normal;
   font-size: 34.7046px;
   text-transform: uppercase;
}

article p {
    color: #F2F2F2;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
}