
main{
    background-color: #333333;
    color: white;
}

main .breadcrumb a {
   color: #EB5757;

   &:hover {
    color: grey;
    text-decoration: underline;
 }
}
main h2 {
  color: rgb(58, 106, 138);

}

.notification {
    background-color: #333333 !important;
}

.flex-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: space-between;
      margin-bottom: 0;
      margin-left: 0;
}
.flex-item1 {
    order: 1;
    text-align: left;
    padding: 2px;
    width: 200px;
}
.flex-item2 {
    order: 2;
    align-self: flex-end;
    text-align: left;
    padding: 2px;
    padding-top: 25px;
    margin-left: 25px;
    width: 400px;
    height: 100px;
}
.flex-item3 {
    order: 1;
    text-align: left;
    padding: 2px;
    width: 200px;
}
.flex-item4 {
    order: 2;
    align-self: flex-end;
    text-align: left;
    padding: 2px;
    width: 200px;
}
.flex-item5 {
    align-self: flex-start;
    text-align: left;
    padding: 2px;
    width: 630px;
}
article {
    display: flex;
    margin: auto;
}
.column {
    display: flex !important;
    margin: 0;
    border-bottom: 4px solid #D2ADB5;
}
article h3 {
    color: #D2ADB5;
    font-family: Fjalla One;
    font-size: 30px;
    text-transform: uppercase;
}

article h4 {
   color: #F2F2F2;
   font-family: Fjalla One;
   font-size: 30px;
   text-transform: uppercase;
}

article p {
    color: #F2F2F2;
    font-family: Josefin Sans;
    font-size: 20px;
}